<h1 class="mt-5 text-center">Hello Administrator - @User.Identity.Name</h1>
<div class="d-flex justify-content-around mt-5">
    <section>
        <vc:administrators page="(int)TempData[StringConstants.TempDataKeyHoldingThePageNumberForAdministrators]"></vc:administrators>
    </section>
    <section>
        <vc:customers page="(int)TempData[StringConstants.TempDataKeyHoldingThePageNumberForCustomers]"></vc:customers>
    </section>
    <section>
        <vc:technicians page="(int)TempData[StringConstants.TempDataKeyHoldingThePageNumberForTechnicians]"></vc:technicians>
    </section>
</div>
<div class="d-flex justify-content-around mt-5">
    <section>
        <vc:pending-repair-tasks page="(int)TempData[StringConstants.TempDataKeyHoldingThePageNumberForPendingRepairTasks]"></vc:pending-repair-tasks>
    </section>
    <section>
        <vc:worked-on-repair-tasks page="(int)TempData[StringConstants.TempDataKeyHoldingThePageForWorkedOnRepairTasks]"></vc:worked-on-repair-tasks>
    </section>
    <section>
        <vc:finished-repair-tasks page="(int)TempData[StringConstants.TempDataKeyHoldingThePageForFinishedRepairTasks]"></vc:finished-repair-tasks>
    </section>
</div>
