<h1 class="mt-5 text-center">Hello Administrator - @User.Identity.Name</h1>
@if (TempData[StringConstants.TempDataKeyHoldingGenericError] != null) {
    <div class="text-danger text-center">@TempData[StringConstants.TempDataKeyHoldingGenericError]</div>
}
<div class="container-fluid">
    <div class="row d-flex justify-content-around">
        <section class="col-md-4 mt-5">
            <vc:administrators page="(int)TempData[StringConstants.TempDataKeyHoldingThePageNumberForAdministrators]"></vc:administrators>
        </section>
        <section class="col-md-4 mt-5">
            <vc:customers page="(int)TempData[StringConstants.TempDataKeyHoldingThePageNumberForCustomers]"></vc:customers>
        </section>
        <section class="col-md-4 mt-5">
            <vc:technicians page="(int)TempData[StringConstants.TempDataKeyHoldingThePageNumberForTechnicians]"></vc:technicians>
        </section>
    </div>
    <div class="row d-flex justify-content-around">
        <section class="col-md-4 mt-5">
            <vc:all-pending-repair-tasks page="(int)TempData[StringConstants.TempDataKeyHoldingThePageNumberForPendingRepairTasks]"></vc:all-pending-repair-tasks>
        </section>
        <section class="col-md-4 mt-5">
            <vc:all-worked-on-repair-tasks page="(int)TempData[StringConstants.TempDataKeyHoldingThePageForWorkedOnRepairTasks]"></vc:all-worked-on-repair-tasks>
        </section>
        <section class="col-md-4 mt-5">
            <vc:all-finished-repair-tasks page="(int)TempData[StringConstants.TempDataKeyHoldingThePageForFinishedRepairTasks]"></vc:all-finished-repair-tasks>
        </section>
    </div>
</div>
