@model X.PagedList.PagedList<CustomerViewModel>

@foreach (var customer in Model) {
    <div>@customer.Username</div>
}
@Html.PagedListPager(Model, page => Url.Action(StringConstants.ActionNameIndex, StringConstants.HomeControllerName, new {
    adminsPage = TempData[StringConstants.TempDataKeyHoldingThePageNumberForAdministrators],
    customersPage = page,
    techniciansPage = TempData[StringConstants.TempDataKeyHoldingThePageNumberForTechnicians],
    pendingRepairTasks = TempData[StringConstants.TempDataKeyHoldingThePageNumberForPendingRepairTasks]
}))