@model X.PagedList.PagedList<CustomerViewModel>

<h1 class="text-danger text-center">Customer's View Component</h1>

@foreach (var customer in Model) {
    <div>@customer.Username</div>
}
@Html.PagedListPager(Model, page => Url.Action(StringConstants.ActionNameIndex, StringConstants.HomeControllerName, new {
    adminsPage = TempData[StringConstants.TempDataKeyHoldingThePageNumberForAdministrators],
    customersPage = page,
    techniciansPage = TempData[StringConstants.TempDataKeyHoldingThePageNumberForTechnicians],
    pendingRepairTasks = TempData[StringConstants.TempDataKeyHoldingThePageNumberForPendingRepairTasks],
    workedOnRepairTasksPage = TempData[StringConstants.TempDataKeyHoldingThePageForWorkedOnRepairTasks],
    finishedRepairTasksPage = TempData[StringConstants.TempDataKeyHoldingThePageForFinishedRepairTasks]
}))