@model X.PagedList.PagedList<RepairTaskViewModel>

<h1 class="text-danger text-center">Worked on</h1>

@foreach(var repairTaskWorkedOn in Model) {
    <div>@repairTaskWorkedOn.Id</div>
}

@Html.PagedListPager(Model, page => Url.Action(StringConstants.ActionNameIndex, StringConstants.HomeControllerName, new {
    adminsPage = TempData[StringConstants.TempDataKeyHoldingThePageNumberForTechnicians],
    customersPage = TempData[StringConstants.TempDataKeyHoldingThePageNumberForCustomers],
    techniciansPage = TempData[StringConstants.TempDataKeyHoldingThePageNumberForTechnicians],
    pendingRepairTasks = TempData[StringConstants.TempDataKeyHoldingThePageNumberForPendingRepairTasks],
    workedOnRepairTasksPage = page,
    finishedRepairTasksPage = TempData[StringConstants.TempDataKeyHoldingThePageForFinishedRepairTasks]
}))