@model X.PagedList.PagedList<RepairTaskViewModel>

<h1 class="text-center text-danger">Finished Tasks</h1>

@foreach(var finishedTasks in Model) {
    <div>@finishedTasks.Id</div>
}

@Html.PagedListPager(Model, page => Url.Action(StringConstants.ActionNameIndex, StringConstants.HomeControllerName, new {
    adminsPage = TempData[StringConstants.TempDataKeyHoldingThePageNumberForTechnicians],
    customersPage = TempData[StringConstants.TempDataKeyHoldingThePageNumberForCustomers],
    techniciansPage = TempData[StringConstants.TempDataKeyHoldingThePageNumberForTechnicians],
    pendingRepairTasks = TempData[StringConstants.TempDataKeyHoldingThePageNumberForPendingRepairTasks],
    workedOnRepairTasksPage = TempData[StringConstants.TempDataKeyHoldingThePageForWorkedOnRepairTasks],
    finishedRepairTasksPage = page
}))