<h1 class="text-center my-5">Hello, Customer - @User.Identity.Name</h1>
<div class="container">
    <div class="row d-flex justify-content-around">
        <section class="col-md-4 mt-3">
            <vc:a-customer-pending-repair-tasks page="(int)TempData[StringConstants.TempDataKeyHoldingThePageForPendingRepairTasksPerCustomer]"></vc:a-customer-pending-repair-tasks>
        </section>
        <section class="col-md-4 mt-3">
            <vc:a-customer-worked-on-repair-tasks page="(int)TempData[StringConstants.TempDataKeyHoldingThePageForWorkedOnRepairTasksPerCustomer]"></vc:a-customer-worked-on-repair-tasks>
        </section>
        <section class="col-md-4 mt-3">
            <vc:a-customer-finished-repair-tasks page="(int)TempData[StringConstants.TempDataKeyHoldingThePageforFinishedRepairTasksPerCustomer]"></vc:a-customer-finished-repair-tasks>
        </section>
    </div>
</div>