@model X.PagedList.PagedList<TechnicianViewModel>

@foreach (var item in Model) {
    <div>@item.Username</div>
}

@Html.PagedListPager(Model, page => Url.Action(StringConstants.ActionNameIndex, StringConstants.HomeControllerName, new {
    adminsPage = TempData[StringConstants.TempDataKeyHoldingThePageNumberForTechnicians],
    customersPage = TempData[StringConstants.TempDataKeyHoldingThePageNumberForCustomers],
    techniciansPage = page,
    pendingRepairTasks = TempData[StringConstants.TempDataKeyHoldingThePageNumberForPendingRepairTasks]
}))