@model X.PagedList.PagedList<TechnicianViewModel>

<div class="card">
    <div class="card-header">
        All Technicians
    </div>
    <div class="card-body">
        @foreach (var technician in Model) {
            <p class="card-text">@technician.Username</p>
        }
        @if (Model.Count != 0) {
            @Html.PagedListPager(Model, page => Url.Action(StringConstants.ActionNameIndex, StringConstants.HomeControllerName, new {
            adminsPage = TempData[StringConstants.TempDataKeyHoldingThePageNumberForAdministrators],
            customersPage = TempData[StringConstants.TempDataKeyHoldingThePageNumberForCustomers],
            techniciansPage = page,
            pendingRepairTasks = TempData[StringConstants.TempDataKeyHoldingThePageNumberForPendingRepairTasks],
            workedOnRepairTasksPage = TempData[StringConstants.TempDataKeyHoldingThePageForWorkedOnRepairTasks],
            finishedRepairTasksPage = TempData[StringConstants.TempDataKeyHoldingThePageForFinishedRepairTasks]}),
            new X.PagedList.Mvc.Common.PagedListRenderOptions {
                LiElementClasses = new string[] {"page-item"},
                PageClasses = new string[] {"page-link"}
            })
         }
    </div>
</div>


