@model X.PagedList.PagedList<AdministratorViewModel>

<h1 class="text-danger">All this comes from a View Component called AdministratorsViewComponent. If you want to change how data is presented, look for the default.cshtml file of the View Component!!!</h1>

@foreach(var item in Model) {
    <div>@item.Username</div>
}

@Html.PagedListPager(Model, page => Url.Action("Index", "Home", new {
    adminsPage = page,
    customersPage = (int)TempData[StringConstants.TempDataKeyHoldingThePageNumberForCustomers],
    techniciansPage = (int)TempData[StringConstants.TempDataKeyHoldingThePageNumberForTechnicians]
}))
