@model X.PagedList.PagedList<RepairTaskViewModel>

<h1 class="text-center text-danger">Here be Repair Tasks per Cusotmer that are worked on</h1>

@foreach(var repairTask in Model) {
    <div>@repairTask.Id</div>
}

@Html.PagedListPager(Model, page => Url.Action(StringConstants.ActionNameIndex, StringConstants.HomeControllerName, new {
    pendingRepairTasksPerCustomerPage = TempData[StringConstants.TempDataKeyHoldingThePageForPendingRepairTasksPerCustomer],
    workedOnRepairTasksPerCustomerPage = page,
    finishedRepairTasksPerCustomerPage = TempData[StringConstants.TempDataKeyHoldingThePageforFinishedRepairTasksPerCustomer]
}))