<div class="container">
    <h1 class="text-center mt-5">Hello Technician - @User.Identity.Name</h1>
    <div class="row d-flex justify-content-around">
        <section class="col-md-6 mt-5">
            <vc:worked-on-repair-tasks-by-technician page=(int)TempData[StringConstants.TempDataKeyHoldingThePageForWorkedOnRepairTasks]></vc:worked-on-repair-tasks-by-technician>
        </section>
        <section class="col-md-6 mt-5">
            <vc:technician-finished-repair-tasks page="(int)TempData[StringConstants.TempDataKeyHoldingThePageForFinishedRepairTasksByTechnician]"></vc:technician-finished-repair-tasks>
        </section>
    </div>
</div>